My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        0
      ],
      "id": "2baa40c6-d4ba-49df-bf94-5483de95e0cc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UCJti59ge7riNmZh",
          "mode": "list",
          "cachedResultName": "RSSdatatable",
          "cachedResultUrl": "/projects/t9S46PIeaOehptYo/datatables/UCJti59ge7riNmZh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.pubDate }}",
            "News": "={{ $json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ],
      "id": "6975ab74-bf3c-4577-a22c-07a4ef981540",
      "name": "Insert row"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1232,
        0
      ],
      "id": "591b2c46-55c4-4de3-9bc5-49e7935f1150",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1232,
        192
      ],
      "id": "78f9c966-61cc-4d0a-93e1-b233a377b60d",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1232,
        384
      ],
      "id": "b1a90429-8385-4815-8d08-fe9a7f94af80",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1232,
        544
      ],
      "id": "3fe9b203-cc5b-4444-bb57-3f88868358a6",
      "name": "RSS Read3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "225fa410-4565-480d-92b2-8368a7027a0b",
  "meta": {
    "instanceId": "1c288a7f9ae85d674e3f0730b63e36a395b645a9159ceb56a63c37d0fc0450a5"
  },
  "id": "keftiBLF3wf4Xvn8",
  "tags": []
}